.iteminfo-container{
    background-color: yellow;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:200px;
    margin-right: 50px;
    width: 80%;
    position: relative;
    border-style: solid;
}

.iteminfo-container h1{
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.iteminfo-container p{
    margin-left:20px;
    margin-bottom: 20px;
}